.edu-sec {
    margin-top: 5rem;
}
.edu-ct {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
}

.edu-left {
    
}

.edu-left-ct {
    margin-top: 1rem;
    border-left: 4px solid #D9D9D9;
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.edu-ti p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
}

.edu-year p {
    font-size: 1.4rem;
    font-weight: 300;
}

.edu-img-ct{
    display: flex;
    justify-content: center;
}

.edu-img-ct img {
    width: 380px;
    max-width: 100%;      /* if the parent container is narrower than 380px then the image will shrink to fit */
   
    object-fit: contain;  /* optional: fits image without stretching */
}



@media (max-width: 37.5rem) {
    .edu-ct {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1.5rem;
    }
    
    .edu-img-ct{
        display: flex;
        justify-content: start;
    }

    .edu-ti p {
        font-size:  1rem;
        font-weight: 500;
    }

    .edu-year p {
        font-size: 0.8rem;
    }


}
